<div class="container-fluid">
  <form>
    <table>
      <tr>
        <label for="title">Title</label>
      </tr>
      <tr>
        <input type="text" id="title">
      </tr>
      <tr>
        <td><label for="ingredients">Ingredients</label></td>
        <td>
          <button class="btn btn-success">+</button>
        </td>
      </tr>
      <tr>
        <td><input type="text" class="form-control" placeholder="name"></td>
        <td>
          <button class="btn btn-danger">X</button>
        </td>
      </tr>
      <tr>
        <label for="instruction">Instruction</label>
      </tr>
      <tr>
        <textarea name="instruction" id="" cols="50" rows="5"></textarea>
      </tr>
      <tr>
        <label for="image">Image</label>
      </tr>
      <tr>
        <input type="text" id="image">
      </tr>
    </table>
    <hr>
    <table>
      <tr>
        <td><button type="button" class="btn btn-danger" [routerLink]="['/']">Back</button></td>
        <td><button type="submit" class="btn btn-primary">Add</button></td>
      </tr>
    </table>
  </form>
</div>


<!--<div class="row">-->
<!--  <div class="col-xs-12" formArrayName="ingredients">-->
<!--    <div class="form-group">-->
<!--      <div class="row">-->
<!--        <div class="col-xs-8">-->
<!--          <input type="text" class="form-control" placeholder="name">-->
<!--        </div>-->
<!--        <div class="col-xs-2">-->
<!--          <button class="btn btn-danger">X</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
