<div class="container-fluid">
  <form [formGroup]="form" (ngSubmit)="onAddRecipe()">
    <table>
      <tr>
        <label for="title">Title</label>
      </tr>
      <tr>
        <input type="text" id="title" formControlName="title">
      </tr>
      <table>
        <tr>
          <td>Ingredients</td>
          <td><button type="button" class="btn btn-success" (click)="onAddIngredient()">+</button></td>
        </tr>

        <tbody formArrayName="ingredients">
          <tr *ngFor="let ingControl of controls; let i = index" [formGroupName]="i">
            <td><input type="text" class="form-control" formControlName="name"></td>
            <td>
              <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
            </td>
          </tr>
        </tbody>


      </table>

      <tr>
        <h3>Instruction</h3>
      </tr>
      <tr>
        <textarea name="instruction" id="instruction" cols="50" rows="5" formControlName="instruction"></textarea>
      </tr>
      <tr>
        <label for="image">Image</label>
      </tr>
      <tr>
        <input type="text" id="image" formControlName="image" #image>
      </tr>
      <div class="row">
        <div class="col">
          <img [src]="image.value" height="200px">
        </div>
      </div>
    </table>
    <hr>
    <table>
      <tr>
        <td>
          <button type="button" class="btn btn-danger" [routerLink]="['/']">Back</button>
        </td>
        <td>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add</button>
        </td>
      </tr>
    </table>
  </form>
</div>


<!--<div class="row">-->
<!--  <div class="col-xs-12" formArrayName="ingredients">-->
<!--    <div class="form-group">-->
<!--      <div class="row">-->
<!--        <div class="col-xs-8">-->
<!--          <input type="text" class="form-control" placeholder="name">-->
<!--        </div>-->
<!--        <div class="col-xs-2">-->
<!--          <button class="btn btn-danger">X</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
